In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
 from datetime import datetime

In [3]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [4]:
my_date = datetime(my_year, my_month, my_day)

In [5]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [11]:
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_minute, my_second)
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [9]:
type(my_date_time)

datetime.datetime

In [10]:
my_date_time.day

2

In [14]:
first_two = [datetime(2016, 1, 1), datetime(2016, 1, 2)]
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [15]:
dt_ind = pd.DatetimeIndex(first_two)

In [16]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [21]:
data = np.random.randn(2,2)
cols = ['a', 'b']
data

array([[-0.75162972, -1.89610705],
       [ 0.59149629,  0.35856505]])

In [23]:
df = pd.DataFrame(data, dt_ind, cols)
df

                   a         b
2016-01-01 -0.751630 -1.896107
2016-01-02  0.591496  0.358565

In [24]:
df.index.argmax()

1

In [25]:
df.index.max()

Timestamp('2016-01-02 00:00:00')